html body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #0020F4;
    max-width: 100%;
    height: 387.56px;
}

.header-stuff{
display: flex;
}

.sky-logo{
    margin-left: 115px;
    margin-top: 30px;
}

.color-white{
    color: #ffff;
    text-decoration: none;
    margin-left: 50px;
    transition: all 0.3s ease;
}

.color-black{
    color: black;
    text-decoration: none;
    margin-left: 50px;
    background-color: #ffff;
    padding: 15px 25px;
    border-radius: 28px;
    transition: all 0.3s ease;
}

.color-white:hover{
    color: black;
    background-color: #ffff;
    padding: 10px 20px;
    border-radius: 30px;
}

.color-black:hover{
    background-color: #ffff;
    padding: 10px 20px;
    border-radius: 30px;
}

.header-stuff span{
    margin-left: 300px;
    display: flex;
    align-items: center;

}

.rect-91-div{
    display: flex;
}

.big-photo{
    margin: auto;
    margin-top: -215px;
}

.text{
    margin-left: 190px;
    margin-top: 30px;
}

.photos{
    display: flex;
}

.photos span{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: auto;
    column-gap: 25px;
    margin-top: 60px;
}

.paragraphs{
    width: 55%;
    margin: auto;
}

.more-info{
    display: flex;
}

.more-info a{
    color:#ffff;
    background-color: #0020F4;
    margin: auto;
    padding: 15px 60px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 30px;
}

footer{
    margin-top: 198px;
    background-color: #0020F4;
    height: 1080px;
    width: 100%;
    display: inline-block;
}

.contact-info h2{
    color: #ffff;
}

.contact-info{
    margin-left: 240px;
    margin-top: 275px;

}

.footer-paragraph{
    margin-left: 240px;
    margin-top: 20px;
    width: 26%;
    color: #ffff;
}

.map{
    margin-top: 58px;
    margin-left: 250px;
    max-width:463px;
    width: 100%;
    height: 197px;
    border-radius: 15px;
    box-shadow: #ffff -10px 10px;
    
}

.phone-photo{
    background-color: #ffff;
    padding: 13px;
    border-radius: 50px;
    margin-left: 240px;
    margin-top: 60px;

}

.mail-photo{
     background-color: #ffff;
    padding: 13px;
    border-radius: 50px;
    margin-left: 320px;
    margin-top: 60px;
    
    }


.contact{
    display: flex;
}


.phone{
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    margin-top: 80px;
    position: absolute;
    margin-left: 15px;
}

.mail{
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    margin-top: 80px;
    position: absolute;
    margin-left: 15px;
}

.phone-div{
    display: inline-block;
}
 
.mail-div{
    display: inline-block;
}

.footer-line{
    color: #FFFFFF;
    margin-top: 230px;
    margin-left: 240px;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
}

.footer-line-2 {
    margin-left: 1100px;
    margin-top: -30px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #FFFFFF;
    position: relative;
}

.smart-group {
    max-width: 100%;
    height: 25px;
    margin-left: 1285px;
    margin-top: -35px;
    position: absolute;
}

.inputs{
    margin-left: 1000px;
    margin-top: -710px;
    
}

.name-surname {
    color: #FFFFFF;
    display: block;
}

.mail-adress {
    color: #FFFFFF;
    display: block;
    margin-top: 40px;
}

.phone-number {
    color: #FFFFFF;
    display: block;
    margin-top: 40px;
}

.inputs input,textarea{
    border: none;
    outline: none;
    background-color: #0A22F4;
    border-bottom: 1.3px solid lightseagreen;
    color: #FFFFFF;
    padding-bottom: 5px;
    width: 400px;
}

.notification {
    color: #FFFFFF;
    display: block;
    margin-top: 40px;
}

.button{
    display: block;
    margin-left: 280px;
    margin-top: 58px;
    padding: 15px;
    border-radius: 40px;
    border: none;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 15px;
}

@media (width >= 1024px){
    .phone-inputs{
        display: none;
    }
    
    .map-phone{
        display:none;
    }

    .phone-div-phone{
        display: none;
    }

    .mail-div-phone{
        display: none;
    }

    .footer-line-phone{
        display: none;
    }

    .footer-line-2-phone{
        display: none;
    }

    .smart-group-phone{
        display: none;
    }

    .footer-line-3-phone{
        display: none;
    }

    .menu-phone{ 
        display: none;
    }
}

@media (width <= 1024px){

    header{
        height: 185px;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .header-stuff img{
        margin: auto;
        margin-top: 30px;
    }

    .header-stuff span{
        display: none;
    }

    .rect-91-div img{
        width: 90%;
        height: 210px;
        margin-top: -50px;
        border-radius: 15px;
    }

    section h2{
        margin-top: 10px !important;
        width: 83%;
        font-size: 18px;
        margin-left: 25px !important;
    }

   .photos span{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 30px;
    gap: 10px;
    margin-left: 20px;

   }

    .photos img{
        height: 90px;
        width: 162px;
        max-width: 100%;
    }

    .last-photo{
        display: none;
    }

    .p-none{
        display: none;
    }

    .paragraphs {
        width: 90%;
        height: 461px;
        margin-top: 40px !important;
        justify-content: center;
    }

    .more-info {
        margin-top: -80px !important;
    }

    .more-info a{
        padding: 20px 80px;
        font-size: 15px;
    }

    .footer-paragraph{
        display: none;
    }

    footer{
        margin-top: 40px;
    }

    .contact-info{
        margin-left: 20px;
        margin-top: 30px;
    }

    .contact-info h2{
        font-size: 18px;
    }

    .smart-group{
        display: none;
    }

    .map{
        display: none;
    }

    .footer-line{
        display: none;
    }

    .footer-line-2{
        display: none;
    }
    .phone-div{
        display: none;
    }

    .mail-div{
        display: none;
    }

    .inputs-div{
        display: none;
    }

    .phone-inputs{
        margin-left: 20px;
    }

    .name-surname-phone{
        color: #FFFFFF;
        display: block;
        margin-top: 40px;
    }

    .mail-adress-phone{
        color: #FFFFFF;
        display: block;
        margin-top: 40px;
    }

    .phone-number-phone{
        color: #FFFFFF;
        display: block;
        margin-top: 40px;
    }

    .notification-phone{
        color: #FFFFFF;
        display: block;
        margin-top: 40px;
    }

    .inputs-phone input{
        border: none;
        outline: none;
        background-color: #0A22F4;
        border-bottom: 1.3px solid lightseagreen;
        color: #FFFFFF;
        padding-bottom: 5px;
        width: 93%;
    }

    .button{
        margin-left: 0px;
        margin-top: 30px;
        padding: 18px 135px;
    }

    .map-phone{
        width: 94%;
        height: 180px;
        border-radius: 15px;
    }

    .map-phone-div{
    margin-top: 40px;
    margin-left: 20px;
    }

    .phone-div-phone{
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
    }

    .mail-div-phone{
        margin-left: 180px;
        margin-top: -30px;
        display: flex;
    }

    .phone-div-phone img{
        background-color: #FFFFFF;
        padding: 3px;
        border-radius: 30px;
        
    }

    .phone-div-phone a{
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 10px;
        margin-left: 5px;
        font-size: 15px;
    }

    .mail-div-phone img{
        padding: 3px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .mail-div-phone a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .footer-line-phone{
        width: 87%;
        padding: 0.05px 1px;
        background-color: gray;
        margin: auto;
        margin-top: 50px;
    }

    .footer-line-2-phone{
        color: white;
        font-size: 15px;
        margin-left: 25px;
        margin-top: 50px;
    }

    .smart-group-phone{
        margin-left: 220px;
        margin-top: -100px;
    }

    .footer-line-2-div-phone{
        display: inline-block;
    }

    .smart-group-div-phone{
        margin-top: -20px;
    }

    .footer-line-3-phone{
        margin-top: 30px;
        color: #FFFFFF;
        opacity: 0.6;
        font-size: 13px;
        display: flex;
    }

    .footer-line-3-phone h3{
        margin: auto;
    }

    .menu-phone{ 
        display: flex;
        margin-top: 30px;
    }

    .menu-phone img{
        margin: auto;
    }

}



